@layout('layout')


@section('body')

<h1>Modifier l'article {{ post.title }}</h1>

<form action="" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for=""></label>
    <input type="text" name="title" value="{{ post.title }}">
  </div>

  <button type="submit" class="btn btn-primary">Sauvegarder</button>


</form>

@endsection
